body {
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
}
::selection {
background-color: #f7ca18;
color: #1b1b1b;
}

section {
background-color: #1b1b1b;
height: 100vh;
display: flex;
position: relative;
}

section .title {
max-width: 60%;
width: 100%;
align-self: center;
transform: translateY(-50px);
margin: 0 auto;
overflow: hidden;
padding-bottom: 1px;
}

.title {
    position: absolute;
    top: 10%;
    left: 20%;
    text-align: center;
}

section .title span {
display: inline-block;
font-size: 5vw;
color: #efefef;
width: 100%;
text-transform: uppercase;
transform: translateX(-100%);
animation: byBottom 1s ease both;
font-weight: 600;
letter-spacing: 0.25vw;
}

section .title span:last-child {
color: #f7ca18;
font-size: 1rem;
animation: byBottom 1s 0.25s ease both;
}

.about-me-info {
    position: absolute;
    top: 33%;
    left: 10%;
    max-width: 80%;
    color: #efefef;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.about__avatar {
    position: absolute;
    top: 57%;
    left: 41%;
    max-width: 50%;
}
.avatar-img {
    max-width: 50%;
    border-radius: 45%;
}

@-webkit-keyframes byBottom {
0% {
    transform: translateY(150%);
}
100% {
    transform: translateY(0);
}
}

@media screen and (max-width: 1660px) {
    .about__avatar {
        display: none;
    }
}


