<section>
    <div class="about">
        <div class="about__avatar">
            <img class="avatar-img" src="img/avatar.jpg" alt="something went wrong" class="my__page">
            <img class="elipse-img" src="img/elipse 2.png" alt="">
        </div>
        <div class="about-info__block">
                <p class="about__title">
                    Hi, I am Stas<br>
                    front-end dev
                </p>
                <p class="about__suptitle">
                    Навчаюсь в ДУІКТ на 4 курсі за спеціальністю "Комп'ютерена інженерія".
                </p> 
            <div class="button__container">
                <div class="download-btn">
                    <a href="https://youtu.be/dQw4w9WgXcQ?si=CN8vtkIkkc9AZy4G" class="download-resume">Моє Резюме</a>
                </div>
            </div>
        </div>
    </div>
</section>