<section>
    <div class="featured__block">
        <div class="featured__title">
            <p class="featured__text">
                Featured games
            </p>
        </div>
        <div class="featured__articles">
            <div class="featured-example">
                <div class="featured-img-container">
                    <img class="examle-img" src="img/photos/1.png" alt="something went wrong">
                </div>
                <div class="example-info">
                    <p class="example-title">Modern Warfare 2</p>
                    <div class="year-type">
                            <p class="year-text">2009</p>
                            <p class="type-text">shooter</p>
                    </div>
                    <div class="example-suptitle">
                        <p class="examle-text">
                            The most-anticipated game of the year and the sequel to the best-selling 
                            first-person action game of all time, <br> Modern Warfare 2 continues the gripping 
                            and heart-racing <br> action as players face off against a 
                            new threat dedicated to bringing the world to the brink of collapse.
                        </p>
                    </div>
                </div>
            </div>
            <div class="featured-example">
                <div class="featured-img-container">
                    <img class="examle-img" src="img/photos/2.png" alt="something went wrong">
                </div>
                <div class="example-info">
                    <p class="example-title">The witcher 3 Wild hunt</p>
                    <div class="year-type">
                            <p class="year-text">2015</p>
                            <p class="type-text">Action RPG</p>
                    </div>
                    <div class="example-suptitle">
                        <p class="examle-text">
                            Ви — Ґеральт із Рівії, найманий мисливець на чудовиськ. <br>Перед вами цілий континент, 
                            просяклий війнами та заполонений різними потворами. Поточний контракт? <br>
                            Відшукайте Цірі — Дитя Пророцтва, живу зброю, що може докорінно змінити знаний світ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="featured-example">
                <div class="featured-img-container">
                    <img class="examle-img" src="img/photos/3.png" alt="something went wrong">
                </div>
                <div class="example-info">
                    <p class="example-title">S.T.A.L.K.E.R.2</p>
                    <div class="year-type">
                            <p class="year-text">2024</p>
                            <p class="type-text">shooter</p>
                    </div>
                    <div class="example-suptitle">
                        <p class="examle-text">
                            Відкрийте для себе Чорнобильську Зону Відчуження сповнену небезпечних ворогів, <br>
                            смертельних аномалій та потужних артефактів. <br>
                            Напишіть свою власну епічну історію, прокладаючи свій шлях до Серця Чорнобиля.
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>