<section class="practice-main">
    <div class="practice-tasks__container">
        <div class="practice-task">
            <a href="../practice/task3.html" class="practice-title">
                Селектори
            </a>
            <div class="practice__short-info">
                <p class="practice-time">
                    14 Oct 2023
                </p>
                <p class="practice__name">
                    Селектори
                </p>
            </div>
            <p class="practice-suptitle">
                Стилізована форма
            </p>
        </div>
        <div class="practice-task">
            <a href="practice/pr1-schedule.html" class="practice-title">
                Розклад на місяць
            </a>
            <div class="practice__short-info">
                <p class="practice-time">
                    24 Nov 2023
                </p>
                <p class="practice__name">
                    Розклад
                </p>
            </div>
            <p class="practice-suptitle">
                Структурований графік, 
                який визначає час та місце проведення різних 
                активностей протягом місяця
            </p>
        </div>
        <div class="practice-task">
            <a href="practice/lab1-form.html" class="practice-title">
                Форма
            </a>
            <div class="practice__short-info">
                <p class="practice-time">
                    20 Nov 2023
                </p>
                <p class="practice__name">
                    форма відправки
                </p>
            </div>
            <p class="practice-suptitle">
                Це інтерактивний інструмент, який дозволяє користувачам вводити та 
                надсилати інформацію через веб-сайт чи додаток.
                Форми використовуються для отримання замовлень, реєстрації, зворотного зв'язку та 
                інших взаємодій з користувачами. Зручні та логічно структуровані форми сприяють 
                ефективному збору необхідної інформації від користувачів.
            </p>
        </div>
        <div class="practice-task">
            <a href="../practice/youtube.html" class="practice-title">
                YouTube
            </a>
            <div class="practice__short-info">
                <p class="practice-time">
                    18 Dec 2023
                </p>
                <p class="practice__name">
                    YouTube
                </p>
            </div>
            <p class="practice-suptitle">
                Скопійована стартова сторінка YouTube з усіма стилями (не має функіоналу, тільки обкладинка)
            </p>
        </div>
        <div class="practice-task">
            <a href="../practice/planner.html" class="practice-title">
                Планер
            </a>
            <div class="practice__short-info">
                <p class="practice-time">
                    25 Nov 2023
                </p>
                <p class="practice__name">
                    Planner
                </p>
            </div>
            <p class="practice-suptitle">
                Планер на місяць - твій найкращий союзник у досягненні мети! 
                Зручний і стильний, він допомагає тобі організувати свій час, 
                визначити пріоритети та слідкувати за досягненнями. Заплануй успіхи разом з ним!
            </p>
        </div>
        <div class="practice-task">
            <a href="../index.html" class="practice-title">
                Сторінка
            </a>
            <div class="practice__short-info">
                <p class="practice-time">
                    24 Dec 2023
                </p>
                <p class="practice__name">
                    Personal page
                </p>
            </div>
            <p class="practice-suptitle">
                Сторінка із персональною інформацією та фотографією
                 зверстана згідно з макетом у figma, Враховано адаптивність <br>
                 (те саме що і вкладка "Головна")
            </p>
        </div>
    </div>
</section>